.top-rated-campines {
    h2 {
      font-size: 1.5rem; // Adjust as needed
      margin: 0;
      font-weight: bold;
    }
  
    .divider {
      width: 50px;
      border-bottom: 2px solid teal;
      margin: 4px 0 8px 0;
    }
  }